@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&display=swap');

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

@tailwind components;

@tailwind utilities;

.social-icons svg {
  width: 24px;
  height: 24px;
}

hr {
  border-top-width: 1px;
}