@tailwind base;

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

@tailwind components;

@tailwind utilities;

.social-icons svg {
  width: 24px;
  height: 24px;
}

hr {
  border-top-width: 1px;
}