@tailwind base;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,700&display=swap');

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

@tailwind components;

@tailwind utilities;

.social-icons a {
  color: #000;
}

.social-icons a > svg, .social-icons a > img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

hr {
  border-top-width: 1px;
}

@media (max-width: 480px) {
  .coordinator-card {
    width: 70vw;
  }
}
